.row
  .col-md-12
    button.mr-2.btn.btn-suite.btn-tip(type='button') PROJECT STATUS

    button.mr-2.btn.btn-outline.btn-tip(type='button') QA BOARD

  .col-md-3
    .card.border-rad-0
      .card-body
        .row
          .col-md-12
            h1.bold.fleft.text-dark
              | Projects
            .add-project-container
              button.btn.btn-sm.btn-suite.btn-tip.btn-i(type='button')
                i.ti-plus

  .col-md-9
    .router-outlet